*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box !important;
}
body{
	background-color: #0f161c;
	min-height: 100vh;
}
html, body {
	height: 100%;
}
/*-- BODY ITEMS --*/
.all-body{
    position: relative;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #ac1414;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #FF1C1C;
}
nav img{
	position: relative;
    width: 60px;
}
.nav-header{
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2% 5%;
	justify-content: space-between;
	position: fixed;
	transition: 0.6s;
}
header.sticky{
	background-color: #000;
	padding: 1% 4%;
}
.logo img{
	width: 50px;
	position: relative;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 10px;
	text-decoration: none;
	color: #fff;
	display: block;
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.6s;
}
.page.fr:hover:after{
	width: 50%;
}
.page.tw:hover:after{
	width: 50%;
}
.page.fr::after{
	content: '';
	width: 0%;
	height: 3px;
	background-color: #FF1C1C;
	display: flex;
	transition: 0.6s;
}
.page.fr.active::after{
	width: 50%;
}
.page.tw.active::after{
	width: 50%;
}
.page.tw::after{
	content: '';
	width: 0%;
	height: 3px;
	background-color: #FF1C1C;
	display: flex;
	transition: 0.6s;
}
header ul li a:hover{
	color: #FF1C1C;
	font-weight: 500;
}
.page.active{
	color: #FF1C1C;
	font-weight: 600;
}
/*-- FORM PAGE --*/
.form-section{
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-col h1{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.form{
    color: #fff;
    max-width: 500px;
}
.text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(100% - 10px);
    height: 50px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.form p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    margin-left: 10px;

}
.note{
	color: rgb(241, 241, 241);
	font-size: 14px;
	font-weight: 400;
}
.send-btn{
    margin-left: 74%;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #FF1C1C;
    font-weight: 600;
    font-size: 16px;
    transition: ease 0.6s;
}
.send-btn:hover{
    background-color: #FF1C1C;
    color: #fff;
}
.alert-success{
    z-index: 1;
    background: #000;
    font-size: 18px;
    padding: 10px 20px;
    min-width: 300px;
    position: fixed;
    right: 0;
	color: #fff;
    top: 10px;
    border-left: 8px solid #FF1C1C;
    border-radius: 4px;
}
.alert-error{
    z-index: 1;
    background: #000;
    font-size: 18px;
    padding: 10px 20px;
    min-width: 300px;
    position: fixed;
    right: 0;
	color: #fff;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
}

/*-- FOOTER --*/
.footer{
	background-color: #070707;
}
.ftr-container{
	padding: 2% 0;
}
.copyright{
	color: rgb(197, 197, 197);
	font-size: 16px;
	text-align: center;
	display: block;
}


/*-- RESPONSIVE MOBILE --*/
@media only screen and (max-width: 700px) {
	.logo img{
		width: 30px;
	}
	header.sticky{
		padding: 2% 4%;
	}
	.nav-header{
		padding: 4% 5%;
	}
	.nav-header ul li a{
		font-size: 13px;
	}
	.form{
		max-width: 300px;
	}
	.send-btn{
		margin-left: 65%;
	}
	.form-col h1{
		font-size: 20px;
	}
	.form-section{
		padding-top: 25%;
	}
	.note{
		padding-top: 12px;
		font-size: 12px;
		padding-bottom: 5%;
	}
	.ftr-container{
		padding: 4% 0;
	}
	.copyright{
		font-size: 12px;
	}
}